<div class="container-fluid">
    <app-header></app-header>
    <div class="float-end" style="color: aliceblue; cursor: pointer" (click)="home()">
      <i class="fa fa-arrow-left fa-lg"></i>&nbsp; home
    </div>
    <div class="head text-center mt-5">
      <header>BOOKING DETAILS</header>
    </div>
    <div class="content text-center mt-2">
      <div class="card text-center">
        <div class="card-body text-center">
          <div class="input-group mb-2">
            <span class="input-group-text">BOOKING ID</span>
            <input
              type="text"
              aria-label="First name"
              class="form-control"
              value={{data?.id}}
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text">GAME NAME</span>
            <input
              type="text"
              aria-label="First name"
              class="form-control"
              value={{data?.gamename}}
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text">TIME SLOT</span>
            <input
              type="text"
              aria-label="First name"
              class="form-control"
              value={{data?.slot}}
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text">STATUS</span>
            <input
              type="text"
              aria-label="First name"
              class="form-control"
              value={{data?.status}}
            />
          </div>
        </div>
      </div>
      <div class="d-grid mt-2 mb-2 gap-5 d-md-flex justify-content-center">
        <button class="btn tbtn btn-sm">CREATE RFID</button>
        <button class="btn tbtn btn-sm">CANCEL</button>
      </div>
      <button class="btn tbtn btn-sm mt-3">DOWNLOAD BOOKING DETAILS</button>
    </div>
  </div>
  