<div class="container-fluid">
    <!-- <app-header></app-header> -->
    <div class="head text-center mt-5 mb-3">
        <header>ADMIN DASHBOARD</header>
    </div>
  <div class="content">
    <div class="row">
      <div class="col-lg-2 col-md-2 mt-3">
        <button class="btn btnda btn-sm mb-3" [routerLink]="['/createcustomer']" routerLinkActive="active">NEW CUSTOMER</button>
        <button class="btn btnda btn-sm mb-3" [routerLink]="['/fetchCustomer']">EXISTING CUSTOMER</button>
        <button class="btn btnda btn-sm mb-3 " [routerLink]="['/fetch']" >ISSUE TOKEN</button>
        <button class="btn btnda btn-sm mb-3 " [routerLink]="['/fetch']" >BOOKING STATUS</button>
        <button class="btn btnda btn-sm mb-3 "  [routerLink]="['/removetoken']" >REMOVE TOKEN</button><br />
        <button class="btn btnda btn-sm mb-3 " (click)="logout()">LOGOUT</button>
        <button class="btn btnda btn-sm mb-3 " *ngIf='role === "SuperAdmin"' (click)="admins()">Admins</button>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="card-body text-center">
          <div  style="padding-bottom:10px;" >  
            <input class="form-control" type="text" placeholder=" &nbsp; Search ......." [(ngModel)]="filter">        
       </div>
       <div class="panel-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">BOOKING ID</th>
                <th scope="col">TIME SLOT</th>
                <th scope="col">NO.OF PLAYERS</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody  *ngFor="let item of myData |filter:filter " style="cursor: pointer;" (click)="details(item.id) ">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.slot}}</td>
                <td>{{item.noofpeople}}</td>
                <td>{{item.date}}</td>
                <td>{{item.status}}</td>
              </tr>
              </tbody>
          </table>
       </div>
        </div>
        <div class="d-grid mt-5 mb-2 gap-5 d-md-flex justify-content-center">
            <button class="btn tbtn btn-lg">GAME SLOTS AVAILABLE</button>
            <button class="btn tbtn btn-lg">ARENA BOOKING</button>
       </div>
      </div>
      <div class="col-lg-2  text-center">
        <div class="card-body card1 mt-1 mb-3">
          <h5>BOOKINGS: {{bookedcount}}</h5>
        </div>
        <div class="card-body card2 mb-3">
          <h5>IN PROGRESS: 0</h5>
        </div>
        <div class="card-body card3 mb-3">
          <h5>COMPLETED: 0</h5>
        </div>
        <div class="card-body card4 mb-3">
          <h5>CANCELLED: 0</h5>
        </div>
      </div>
    </div>
  </div>
</div>
