<div class="container-fluid">
    <app-header></app-header>
    <div class="float-end" style="color: aliceblue; cursor: pointer;"><i class="fa fa-arrow-left fa-lg"></i>&nbsp; BACK</div>
    <div class="head text-center mt-5">
        <header>ENTER OTP</header>
    </div>
  <div class="content text-center">
    <div class="alert alert-warning text-center" role="alert" *ngIf="errormessage">{{errormessage}}</div>
    <div class="alert alert-success text-center" role="alert" *ngIf="successmessage">{{errormessage}}</div>

 <div class="card text-center mt-5 ">
     <div class="card-body text-center">
        <form [formGroup]="customerForm" (ngSubmit)="onsubmit()">
            <div class="input-group fontuser mb-3">
              <input
                type="number"
                class="form-control input-sm"
                placeholder=" ENTER OTP"
                formControlName="otp"
              />
              <small
              *ngIf="customerFormcontrol.otp.invalid && isSubmitted"
              class="error"
              >Kindly choose Game
            </small>
            </div>
            <button class="btn btn-lg mt-3" type="submit">SUBMIT</button>
          </form>
     </div>
 </div>
  </div>
</div>
