<div class="container-fluid">
    <app-header></app-header>
    <div class="float-end" style="color: aliceblue; cursor: pointer;"><i class="fa fa-arrow-left fa-lg" (click)="locat()"></i>&nbsp; </div>
    <div class="head text-center ">
        <header>Exsisting Customer Booking</header>
    </div>
  <div class="content text-center ">
    <div class="alert alert-warning text-center alert-dismissible" role="alert" *ngIf="errormessage">{{errormessage}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

 <div class="card text-center">
     <div class="card-body text-center">
        <form [formGroup]="customerForm" (ngSubmit)="onsubmit()">
            <div class="input-group fontuser mb-3">
              <input
                type="text"
                class="form-control input-sm"
                placeholder=" ENTER MOBILE NUMBER"
                formControlName="mobile"
              />
              <small
              *ngIf="customerFormcontrol.mobile.invalid && isSubmitted"
              class="error"
              >Kindly enter mobile number
            </small>
            </div>
            
            <div class="d-grid mt-5 mb-2 gap-5 d-md-flex justify-content-center">
              <button type="submit" class="btn btn-dark" (click)="fetchclist()">
                Fetch-Details
              </button>
              <button class="btn btn-dark" type="submit">Book</button>
            </div>
           
          </form>
     </div>
 </div>
  </div>
</div>


