.container-fluid{
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../../assets/images/logo1.png");

}

header{
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.7rem;
}

.content{
    color: whitesmoke;
}

.card{
    border: none;
    background: none;
}

.card-body{
    padding: 40px 0px;
    /* background: rgb(255, 255, 255); */
    border-radius: 20px;
}

.card-body{
    margin: auto;
    width: 80%;
}

input{
    text-align: center;
    margin: auto;
    padding: 5px 40px;
    border-radius: 10px; 
    /* width: 80%; */

}

.btn{
    padding: 5px 20px;
    border-radius: 20px;
    /* color: whitesmoke;
    background: black; */
}



.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table100 {
    width: 1170px;
  }
  
 

